doctype html
html
  head
    title Dance Academy
    block scripts
    block style
      
  body 
    nav#navbar
        ul
            div#logo 
                img(src="../static/img/logo.png", alt="logo")

            li #[a(href="/") Home]
            li #[a(href="#") About]
            li #[a(href="/contact") Contact Us]
            li #[a(href="#") Services]
            li #[a(href="#") Info]

            div#subs 
                button.btn subscribe
    block content

    footer#footer
        p copyright 2020 (c) sujandanceacademy.com | All rights reserved